<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spor35 | Giriş</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="background">
    <div class="overlay"></div>
    <div class="container">
      <div class="content">
        <h1>Hoş Geldiniz!</h1>
        <p>Spor35 KDS</p>
        <form action="/login" method="POST"> <!-- Form, /login route'una POST metoduyla veri gönderecek -->
          <input type="text" name="username" placeholder="Kullanıcı Adı" required>
          <input type="password" name="password" placeholder="Şifre" required>
          <div class="form-options">
            <label>
              <input type="checkbox" name="remember"> Beni hatırla
            </label>
            <a href="sifremi-unuttum.html">Şifremi unuttum</a>
          </div>
          <button type="submit">Giriş Yap</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
