<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a href="/homepage" class="navbar__link"><i data-feather="bar-chart-2"></i><span>Grafikler</span></a>
    </li>
    <li class="navbar__item">
      <a href="/uyeler" class="navbar__link"><i data-feather="users"></i><span>Üye Listesi</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/egitmen" class="navbar__link"><i data-feather="dribbble"></i><span>Eğitmen Listesi</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/sube" class="navbar__link"><i data-feather="map-pin"></i><span>Şubeler</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/kurs" class="navbar__link"><i data-feather="user-check"></i><span>Kurslar</span></a>        
    </li>
    <li class="navbar__item">
      <a href="/" class="navbar__link"><i data-feather="log-out"></i><span>Çıkış Yap</span></a>        
    </li>
  </ul>
</nav>
<!-- partial -->
    <script>
          feather.replace();
    </script>
</body>
